/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Sarabun:wght@500&display=swap');

/* Global Styles */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('image.jpg'); /* Add this line for the background image */
    background-size: cover;
    background-repeat: repeat; /* Repeat the background image */
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity here */
    overflow: hidden;
    font-family: "Heebo", sans-serif;
}

/* Container */
.container {
    background-color: rgba(29, 29, 29, 0.8); /* Adjust opacity here */
    width: 470px;
    height: auto;
    padding: 30px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8), 0px 0px 20px #03a9f4;
    border-radius: 10px;
    position: relative; /* Add this line */
}

.container::before, .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px; /* Adjust the height of the glow */
    background: linear-gradient(to right, #03a9f4, #ff4081); /* Adjust the colors */
    top: 0;
    left: 0;
}

.container::after {
    top: auto;
    bottom: 0;
}

/* Heading */
.heading {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Exchange Rate */
.rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.rate1,
.rate2 {
    color: #ccc;
    font-size: 1.2rem;
}

/* Conversion Section */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Swap Button */
.swap {
    align-self: flex-end;
    padding: 5px;
    cursor: pointer;
    color: #ccc;
    font-size: 24px;
    margin: 10px;
}

/* Currency Options */
.options select {
    padding: 5px;
    width: 120px;
    margin-bottom: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    color: #ccc;
    background-color: #1d1d1d;
}

/* Input Fields */
.input input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 1rem;
    color: #ccc;
    background-color: #1d1d1d;
}

/* Target Currency */
.target {
    transform: translateX(-5%);
}

/* Result Button */
.result {
    margin-top: 1.5rem;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #03a9f4;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.result:hover {
    background-color: #2196f3;
    animation: glow 1s infinite;
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0px 0px 15px #03a9f4;
    }
    50% {
        box-shadow: 0px 0px 20px #03a9f4;
    }
}
